@font-face {
    font-family: PressStart2P;
    src: url('PressStart2P.ttf');
}
 
 .text-field {
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-font-family: 'Press Start 2P';

}

 .text-field .text {
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-font-family: 'Press Start 2P';
}



.combo-box .list-cell
 {
 	-fx-text-fill: white;
 	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
 	
 }
 
.combo-box {
	-fx-text-fill: white;
 	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
 }
 
#combospec {
	-fx-background-color: black;
 	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
}

#combospec .list-cell{
	-fx-background-color: black;
 	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
}

.table-view {
	-fx-background-color: black;
	-fx-border-color: white;

}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-alignment: CENTER_RIGHT;
    -fx-border-color: white;
    	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
}

.table-view .column-header {
    -fx-background-color: black;
    	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
}

.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-alignment: CENTER_RIGHT;
   	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;
}

.table-view row-cell:selected {
   -fx-background-color: whitesmoke;
   	-fx-font-family: 'Press Start 2P';
 	-fx-font-size: 11;     
}

.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background  {
    -fx-background-color: black;
    -fx-background-fills: black;
    -fx-border-color: black;
}
 
 
 .table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: black;
}

.table-view .scroll-bar:horizontal .thumb{
	 -fx-background-color: black;
    -fx-background-fills: black;
    -fx-border-color: black;
}

#labeldialog {
	 -fx-text-fill: white;
   -fx-alignment: CENTER_RIGHT;
   	-fx-font-family: 'Press Start 2P';
}

.label {
	-fx-text-fill: white;
	-fx-font-family: 'Press Start 2P';
}


